
body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF; 
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

:root{
    --easy-color: #013568;
    --medium-color: #016850;
    --hard-color: #c75606;
    --background-color: #e9e5e5;
    --background-color-hover: #c5c3c3;
}
@mixin button-styles{
  border-radius: 5px;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

@mixin results{
  display: flex;
  flex-direction: column;
  align-items:center;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  padding: 50px;
  margin:auto;
}

.container-home {
  display: flex;
  flex-direction: column;
  align-items:center;
}

*{
  background-color: #e9e5e5; 
/*   color: #013568; */
}

.container-home .easy {
  @include button-styles;
  border: 2px solid var(--easy-color);
  color: var(--easy-color); 
  background-color: var(--background-color);
}
.container-home .easy:hover {
  background-color: var(--background-color-hover);
}

.container-home .medium{
  @include button-styles;
  border: 2px solid var(--medium-color);
  color: var(--medium-color); 
  background-color: var(--background-color);
}
.container-home .medium:hover {
  background-color: var(--background-color-hover);
}

.container-home .hard{
  @include button-styles;
  border: 2px solid var(--hard-color);
  color: var(--hard-color); 
  background-color: var(--background-color);
}
.container-home .hard:hover {
  background-color: var(--background-color-hover);
}

.container-quiz{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding: 50px;
  margin:auto;
}

.container-quiz .button-quiz-easy {
  @include button-styles;
  border: 2px solid var(--easy-color);
  color: var(--easy-color); 
  font-weight: bold;
  background-color: var(--background-color);
}

.container-quiz .button-quiz-easy:hover {
  background-color: var(--background-color-hover);
}

.container-quiz .button-quiz-medium {
  @include button-styles;
  border: 2px solid var(--medium-color);
  color: var(--medium-color); 
  font-weight: bold;
  background-color: var(--background-color);
}

.container-quiz .button-quiz-medium:hover {
  background-color: var(--background-color-hover);
}

.container-quiz .button-quiz-hard {
  @include button-styles;
  border: 2px solid var(--hard-color);
  color: var(--hard-color); 
  font-weight: bold;
  background-color: var(--background-color);
}

.container-quiz .button-quiz-hard:hover {
  background-color: var(--background-color-hover);
}

.question-easy{
  color: var(--easy-color);
}
.question-medium{
  color: var(--medium-color);
}
.question-hard{
  color: var(--hard-color);
}

.container-results-easy{
  @include results;
  color: var(--easy-color);
}
.container-results-easy button{
  @include button-styles;
  border: 2px solid var(--easy-color);
  color: var(--easy-color);
}

.container-results-medium{
  @include results;
  color: var(--medium-color);
}
.container-results-medium button{
  @include button-styles;
  border: 2px solid var(--medium-color);
  color: var(--medium-color);
}

.container-results-hard{
  @include results;
  color: var(--hard-color);
}
.container-results-hard button{
  @include button-styles;
  border: 2px solid var(--hard-color);
  color: var(--hard-color);
}

.button-next-easy{
  @include button-styles;
  border: 2px solid var(--easy-color);
  color: var(--easy-color);
  font-weight: bold;
}

.button-next-medium{
  @include button-styles;
  border: 2px solid var(--medium-color);
  color: var(--medium-color);
  font-weight: bold;
}

.button-next-hard{
  @include button-styles;
  border: 2px solid var(--hard-color);
  color: var(--hard-color);
  font-weight: bold;
}

.easy-progress .progress-bar {
  background-color: var(--easy-color) !important;
}

.medium-progress .progress-bar {
  background-color: var(--medium-color) !important;
}

.hard-progress .progress-bar {
  background-color: var(--hard-color) !important;
}